.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background: transparent;
}

.btn-editar {
  width: 100%;
  max-width: 900px;
  height: 48px;
  background-color: var(--color3);
  color: var(--color1);
  font-family: var(--myfont);
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid var(--teal-700);
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.btn-editar:hover {
  background-color: #0a3638;
  transform: scale(1.02);
  box-shadow: 0 4px 10px var(--color4);
}
