/* ======= HEADER ======= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 12px 32px;
    z-index: 100;
    backdrop-filter: blur(6px);
  }
  
  /* ======= NAVIGATORS ======= */
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  /* ======= LINKS ======= */
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05rem;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #0e2e2e;
  }
  
  
  