body {
    background: url('/src/img/bg_fintech.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
  }